<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gabaymanage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gabaymanage.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GabayManage</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GabayManage</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="gabayConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=gabay.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gabay2.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\gabayConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=gabay2.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=gabay.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gabay2.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=gabay2.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WingtipToys" Order="5" Enabled="False">
          <Destination Path="Data Source=gabay.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gabaydb.database.windows.net;Initial Catalog=Gabay;User ID=eran;Password=Aa123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WingtipToys_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=gabaydb.database.windows.net;Initial Catalog=Gabay;User ID=eran;Password=Aa123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=gabay.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)gabayConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=gabay.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="WingtipToys-Web.config Connection String">
      <ParameterValue>Data Source=gabay.database.windows.net;Initial Catalog=gabay;Persist Security Info=True;User ID=roifo;Password=sadna!2017</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>